:root {
  --bg-app: #272723;

  --neutral-100: #F3F4F8;
  --neutral-700: #2E2E2E;
}

body {
  background-color: var(--bg-app);
  color: var(--neutral-100);
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  height: 100vh;

  padding-top: 105px;
  padding-bottom: 64px;
  padding-left: 70px;
  padding-right: 70px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 100%;
  width: 100%;

  border-radius: 20px;
  padding: 0 8px;
  padding-bottom: 28px;


  background-color: var(--neutral-700);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--neutral-700);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1BB17D, #283890);
  border-radius: 6px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1BB17D, #283890);
  border-radius: 6px;

}

.app-header {
  padding-top: 18px;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--neutral-700);
}


.app-header__left {
  display: flex;
  flex-direction: row;
}

.app-header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.app-header__right>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.app-content {
  width: 100%;
}


.app-content__header th {
  text-align: start;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;

  background-color: var(--bg-app);
  padding: 18px 16px;
}



.app-content__body {
  font-size: 14px;
}

.app-content__body tr:nth-child(even) {
  background-color: var(--bg-app);
}

.app-content__body td {
  padding: 25px 16px;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app-button {
  background-color: var(--bg-app);
  color: var(--neutral-100);
  padding: 8px 16px;

  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  background: linear-gradient(#272723, #272723) padding-box,
    linear-gradient(to bottom, #1BB17D, #283890) border-box;
  border-radius: 4px;
  border: 1px solid transparent;

}

.app-date-input {
  background-color: var(--bg-app);
  padding: 3.5px 10px;

  background: linear-gradient(#272723, #272723) padding-box,
    linear-gradient(to bottom, #1BB17D, #283890) border-box;
  border-radius: 4px;
  border: 1px solid transparent;
}

.app-date-input input {
  background-color: var(--bg-app);
  color: var(--neutral-100);
  padding: 6px 10px;

  border: none;
}